@charset "UTF-8";
@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
@import url('https://webfontworld.github.io/dgb/IMHyemin.css');
body {
	box-sizing: border-box;	
	font-family: 'SUITE Variable', 'TheJamsil', sans-serif;
	margin: 0;
}
a, a:hover {
	color: #000;
	text-decoration: none;
}
ul {
	list-style: none;
}

.container-header {
	width: 1300px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "TheJamsil";
}
.gnb-header,
.welcome-header {
	display: flex;
    align-items: center;
    padding: 0;
}
.user-header {
	margin: 4px 10px 0 0;
    display: flex;
    align-items: center;
}
.gnb-header li {
	width: 130px;
	text-align: center;
}
.userImg-header {
	border: 1px solid rgba(0, 0, 0, 0.01);
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 50%;
}

.user-admin {
	padding-right: 10px;
}



.logo-l, .logo-r{
	font-size: 30px;
	font-weight: bold;
}

.logo-l{
	margin-left: 30px;
}

.logo-r{
	color: #58a3bc;
}



/**reservation-list**/
.text-align-center{
	text-align: center;
}
