@charset "UTF-8";
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{box-sizing:border-box;}


/*idCheckForm.jsp*/

#idcheck_div_jeon{
	width: 480px;
	height: 250px;
	
}

#idcheck_h3_jeon{
	font-family: 'TheJamsil5Bold'; 
	letter-spacing: 2px;
	text-align: center;
	background: #28527A;
	font-size: 24px;
	color: #fff;
	padding: 20px 0;
	margin: 0;
}

.idcheck_p_jeon{
	color: #555;
	font-size: 12px;
	margin-left: 50px;
}


#idcheck_input_jeon{
	margin: 20px 0;
	margin-left: 50px;
	padding-left: 20px;
	width: 250px;
	height: 40px;
}

#idcheck_button_jeon{
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background: #58A3BC;
	color: #fff;
}

#idcheck_button_jeon:hover{
	background: #3E83A8;
}



/*idCheckPro.jsp*/

#idcheckpro_div_jeon{
	width: 480px;
	height: 250px;
	text-align: center;
}

.idcheckpro_p_jeon{
	font-size: 16px;
	text-align: center;
}

.idcheckpro_p_jeon>span{
	font-size: 18px;
	font-weight: bold;
	color: #28527A;
}

.idcheckpro_a_jeon{
	display: inline-block;
	font-size: 14px;
	color: #fff;
	background: #58A3BC;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px 20px;
	margin-top:10px;
	margin-bottom: 10px;
}

.idcheckpro_a_jeon:hover{
	background: #3E83A8;
}

.apply_jeon{
	font-size: 16px;
	background: #8AC4D0;
	padding: 10px 25px;
}

.mb80_jeon{
	margin-bottom: 80px;
}