@charset "UTF-8";
.container-myre {
	margin: 0 auto;
	width: 1245px;
}
.container-myre h1 {
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	margin: 16px 0;
	font-weight: 500;
}
.container-myre p {
	text-align: right;
}
.tableHeader-myre {
	display: flex;
	margin-top: 30px;
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}
.tableHeader-myre h4 {
	margin: 0;
	width: 30%;
	text-align: center;
}
.tableHeader-myre h4.resnum-myre,
p.resnum-myre {
	width: 125px;
}
input {
	border: none;
	outline: none;
}
.reviewForm-myre {
	display: flex;
	margin-bottom: 20px;
}
.producName-myre {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}